<!--<style>
    .boton {
        color:white;
        text-align:center;
    }
    
    #edit {
        position:absolute;
        right: 25%;
         background:green;
    }
    
    #delete {
        position:absolute;
        right: 10%;
         background:red;
    }
    
</style>-->
<ion-content padding>
<button ion-button block (click)="nuevoJugador()"> New Player</button>

<!--<ion-card *ngFor="let player of players">
    <ion-item>
      <ion-icon name="person" item-start large></ion-icon>
      <button id="edit" ion-button type="button" value="Boton1" (click)="editarJugador(player.id)"><ion-icon name="create"></ion-icon></button>
      <button id="delete" ion-button type="button" value="Boton2" (click)="borrarJugador(player.id)"><ion-icon name="trash"></ion-icon></button>
      <h2>Nombre:{{player.name}}</h2>
      <p>Dorsal:{{player.dorsal}}</p>
      <p>Apodo:{{player.nick}}</p>
      <p>Deuda:{{player.deuda}}</p>
      
    </ion-item>
</ion-card>-->

<ion-card *ngFor="let player of players">
<ion-card-content >
  <ion-item>
    <ion-avatar item-start>
      <ion-card-title>{{player.dorsal}}</ion-card-title>
    </ion-avatar>
        {{player.name}} ({{player.nick}})
  </ion-item>
    <ion-row no-padding>
      <ion-col text-center>
        <button ion-button clear small color="energized" (click)="editarJugador(player.id)" icon-start>
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" (click)="borrarJugador(player.id)" icon-start>
          <ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-col>
</ion-row>
</ion-card-content>
</ion-card>
</ion-content>

<!--
<mbsc-card [options]="settings">
<mbsc-card-header>
<mbsc-card-title>Confirm Purchase</mbsc-card-title>
</mbsc-card-header>
<mbsc-card-content>
<mbsc-input [(ngModel)]="name" placeholder="Required">Name</mbsc-input>
<mbsc-input [(ngModel)]="card" placeholder="Credit card number">Card</mbsc-input>
<mbsc-input [(ngModel)]="exp" placeholder="Required">Expiration</mbsc-input>
<mbsc-input [(ngModel)]="cvv" placeholder="3-digit CVV">Security</mbsc-input>
</mbsc-card-content>
<div class="mbsc-btn-group-block mbsc-padding">
<mbsc-button color="primary">Confirm</mbsc-button>
</div>
</mbsc-card>
-->
